*{
	text-decoration:none;
	margin:0;
	padding:0;}
a:link,a:visited{
	color:#292929}
	
body{
	background-color:#fafafa;
	font-family:微软雅黑,Georgia, serif	;
	font-size:16px;
}
#nav{
	background-color:#292929;
	width:100%;
	height:3em;}
#nav ul{
	list-style:none;
	height:3em;
	background-color:#292929;
	margin:0 20%}
#nav li{
	width:33%;
	text-align:center;
	float:left;
	color:#fafafa;
	font-size:1.5em;
	line-height:2em;}
#intro{
	height:550px;
	width:60%;
	margin:60px auto;}
	
#intro img{
	width:200px;
	float:left;
	margin-right:20px;}
#intro p{
	padding:5em 0}
	
#head{
	font-family:'Open Sans';
	overflow:hidden;
	font-size:2.25em;}

#head span{
	font-family:Georgia, serif;
	font-weight:normal;
	text-align:center;
	color:#292929;}

#icon{
	width:20em;
	margin:0 auto;
	}
#icon img{
	margin:0 1em;}