body,html{
    font-family: '华文细黑';
    margin: 0;
}
ul {
    margin: 0;
    padding: 0;
    font-size: 1.6rem;
}
canvas {
    bottom: 0;
    left: 0;
    margin: auto;
    position: absolute;
    right: 0;
    top: 0;
    cursor: pointer;
}
#home-page{
    width: 100%;
    display: none;
    opacity: 0;
    overflow: hidden;
}
#intro {
    width: 50%;
    float: left;
    text-align: center;
    
}
#main-white {
    width: 100%;
    display: table;
}
#intro section {
    width: 100%;
    display: table-cell;
    vertical-align: middle;
    height: 100vh;
}
section > h1.title {
    font-size: 80px;
    margin:0 0 60px 0;
    font-weight: lighter;
}

    .nav-active {
        border-top: 1px solid #232323;
    }

#navigation {
    padding: 0;
    height: 118px;
}
#navigation > li {
    display: inline-block;
    margin: 10px;
    padding: 10px;
    height: 78px;
    border-top: 1px solid #fff;

}
    #navigation > li:hover {
        border-top: 1px solid #232323;
    }
#navigation li img {
    width: 20px;
}
    #navigation li a {
        outline: none;
    }
#images {
    width: 50%;
    min-width: 490px;
    height: calc(100vh + 200px);
    float: left;
    overflow: hidden;
    position: relative;

}

#about-content {
    position: absolute;
    width: 0;
    z-index: 2;
    height: calc(100vh + 200px);
    overflow: hidden;
    transition: width 1s;
    -moz-transition: width 1s;
    -webkit-transition: width 1s;
    -o-transition: width 1s;
    background: url(../img/aboutContent.png) no-repeat;
    /*border-left: 1px solid #eee;*/
}

#images-wrapper {
    position: relative;
    top: 0;
    z-index: 1;
}
    #images li {
        position: relative;
        width: 100%;
    }
    #images img {
        width: 100%;
        vertical-align:top;
    }

    #images p {
        position: absolute;
        top: 30%;
        left: 50%;
        font-size: 4rem;
        color: #fff;
        width: 40px;
        font-weight: lighter;
    }

    @media (max-width: 980px) {
      #images {
        display: none;
      }
      #intro {
        width: 100%;
      }
  }

footer {
    height: 200px;
    background: #232323;
    text-align: center;
}
    #link {
        padding-top: 30px;
    }
    #link > p {
        display: inline-block;
        margin: 0 10px;
    }


.scroll-bottom {
    
}

.scroll-top{

}

/*about*/
.about-wrapper {
    overflow: hidden;
}
.about-section {
    width: 50%;
    float: left;
    padding: 50px;
}
.about-section h1 {
    float: right;  
    width: 40px;
    border-left: 1px solid #464646;
    padding:0 5px;
    margin: 0 50px 0 0
}

.about-des {
    box-sizing: border-box;
    padding:0 5px;
    width: 40px;
    border-left: 1px solid #464646;
    float: right;
    margin:0 10px;
}

@media (max-width: 880px){
    .about-section {
        width: 100%;
    }
}
/*about end*/

.not-found {
    width: 500px;
    margin: 100px auto;
}