<!DOCTYPE html>
<html>
<head>
<meta http-equiv="content-type" content="text/html; charset=utf-8" />
<link rel="stylesheet" href="../css/main.css" type="text/css">
<title>{ {page.title }}</title>
</head>
<body>

<div id="nav">
	<ul>
		<a href="#"><li>blog</li></a>
		<a href="#"><li>project</li></a>
		<a href="#"><li>contact</li></a>
	</ul>
</div>



{{ content }}
<div id="contact">
<div id="icon">
	<img src="../images/github.png" />
	<img src="../images/mail.png" />
	<img src="../images/doubanB.png" />
</div>
</div>
</body>
</html>
